<!-- 第一題 -->
<div class="center">
    <div class="alert alert-error" role="alert" *ngIf="error">
        {{ error }}
    </div>

    <h1 class="title">{{ title }}</h1>

    <form #sentenceForm = "ngForm"   (ngSubmit)="onSubmit(sentenceForm.value)">
        <input class="sentence form-control form-control-lg" type='text' placeholder="請輸入欲倒轉之英文句" name="sentence" ngModel>
        <button class="submitBtn btn btn-success" type='submit'>倒轉吧！</button>
    </form>

    <div>
        <h4 class="result">倒轉結果如下：</h4>
        <input class="form-control form-control-lg" type="text" value="{{ sentenceResult }}" readonly>
    </div>

</div>

<!-- 第二題 -->
<div class="countrydata title">
    <h1>{{ countrydata?.name }}</h1>
    
    <table class="table table-dark table-hover">
        <tbody>
            <tr>
                <th>country_id</th>
                <th>probability</th>
            </tr>
            <tr *ngFor="let i of countrydata?.country">
                <td>{{ i.country_id }}</td>
                <td>{{ (i.probability*10000)/100 }} %</td>
            </tr>
        </tbody>
    </table>
</div>

<router-outlet></router-outlet>
